streamlit==1.39.0
opencv-python-headless
numpy
torch
torchvision
git+https://github.com/ChaoningZhang/MobileSAM.git
scipy
streamlit-image-coordinates
streamlit-image-comparison
requests
timm
streamlit-cropper
streamlit-drawable-canvas==0.9.3
streamlit-drawable-canvas-fix